body {
    background-color: #a8eaec;
    color: #000000;
}

h1 {
    text-align: center;
}

h3{
    color: gray;
}

a {
    color: blue;
}

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
} */


/* .blue { 
    color: aqua;
}

.bold {
    font-weight: bold;
}

#my-special-image {
    padding: 10px;
    border: 5px dotted purple; 
} */